@using Microsoft.AspNet.Identity
@using SimpleWebShop.Web.Infrastructure.HtmlHelpers

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <h2>ADMIN DASHBOARD</h2>
    </div>
</div>
<!-- /. ROW  -->
<hr />
<div class="row">
    <div class="col-md-12 ">
        <div class="alert alert-primary">
            <strong>Welcome @this.User.Identity.GetUserName() ! </strong> You Have No pending Task For Today.
        </div>
    </div>
</div>
<h2 class="text-left">Users</h2>
<div class="row justify-content-between text-center pad-top">
    <div class="col">
        <div class="div-square">
            @Html.ActionLinkFontAwesomeWithHeading("Index", "Users", "Administration", "fas fa-users fa-2x", "Users")
        </div>
    </div>
    <div class="col">
        <div class="div-square">
            @Html.ActionLinkFontAwesomeWithHeading("Index", "Support", "Administration", "fas fa-question-circle fa-2x", "Support")
        </div>
    </div>
</div>

<h2 class="text-left">Debug</h2>
<div class="row justify-content-between text-center pad-top">
    <div class="col">
        <div class="div-square">
            <a href="https://localhost:44333/Glimpse.axd">
                <i class="fas fa-tools fa-2x"></i>
                <h4>Glimpse</h4>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="div-square">
            <a href="https://localhost:44333/elmah">
                <i class="fas fa-bug fa-2x"></i>
                <h4>Elmah</h4>
            </a>
        </div>
    </div>
</div>


