@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

@section styles
{
    <link rel="stylesheet" href="~/Content/css/adminPanel.css"/>
}

<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="active-link">
                <a href="index.html"><i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
            </li>
            <li>
                <a href="ui.html"><i class="fa fa-table "></i>UI Elements  <span class="badge">Included</span></a>
            </li>
            <li>
                <a href="blank.html"><i class="fa fa-edit "></i>Blank Page  <span class="badge">Included</span></a>
            </li>
        </ul>
    </div>

</nav>

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>ADMIN DASHBOARD</h2>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12 ">
                <div class="alert alert-primary">
                    <strong>Welcome @this.User.Identity.GetUserName() ! </strong> You Have No pending Task For Today.
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row justify-content-between text-center pad-top">
            <div class="col">
                <div class="div-square">
                    <a href="https://localhost:44333/Glimpse.axd">
                        <i class="fas fa-tools fa-2x"></i>
                        <h4>Glimpse</h4>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="div-square">
                    <a href="blank.html">
                        <i class="fa fa fa-clipboard fa-2x"></i>
                        <h4>Check Data</h4>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="div-square">
                    <a href="blank.html">
                        <i class="fa fa fa-clipboard fa-2x"></i>
                        <h4>Check Data</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


