[*.cs]

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SX1101: Do not prefix local calls with 'this.'
dotnet_diagnostic.SX1101.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = true:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_method = false:none

# SA1122: Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# SA1412: Store files as UTF-8 with byte order mark
dotnet_diagnostic.SA1412.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none
