@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2 side-menu">
        <ul>
            <li><a href="#">Phones</a></li>
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Kopele</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <div class="col-md">
        <h1>Index</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nesciunt id dicta itaque voluptas soluta, quos placeat molestiae ipsam, quidem voluptatibus neque. Ducimus odit commodi, tempora modi magnam ipsam dicta.</p>
    </div>
</div>