@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<h1>@ViewData["id"]</h1>

<div>
<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        TVs, Monitors
    </button>
    <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Tvs</a>
        <a href="#" class="dropdown-item">Tvs</a>
        <a href="#" class="dropdown-item">Tvs</a>
        <a href="#" class="dropdown-item">Tvs</a>
    </div>
</div>
<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        TVs, Monitors
    </button>
    <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Tvs</a>
        <a href="#" class="dropdown-item">Tvs</a>
        <a href="#" class="dropdown-item">Tvs</a>
        <a href="#" class="dropdown-item">Tvs</a>
    </div>
</div>
</div>
