@model SimpleWebShop.Web.Areas.Administration.ViewModels.AllUsersViewModel
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Users</h1>

<div class="table-responsive">
    <table class="table">
        <thead class="unique-color-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">IsDeleted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.AllUsers)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.IsDeleted</td>
                </tr>
            }
        </tbody>
    </table>
</div>